.dropdown-menu {
  background: rgb(59, 59, 59);
  width: 200px;
  position: absolute;
  top: 60px;
  list-style: none;
  text-align: start;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;

  li {
    margin: 10px;
    text-transform: none;

    .dropdown-link {
      width: 100%;
      height: 100%;
      text-decoration: none;
      cursor: pointer;
      color: white;

      &:hover {
        text-decoration: underline !important;
        color: black !important;
      }
    }
  }
}
