.Button {
  // margin-left: 20px;

  button {
    border: 1px solid white;
    color: white;
    font-size: 0.9rem;
    text-transform: uppercase;
    background: #1f1f1f;
    padding: 15px 40px;
    cursor: pointer;

    &:hover {
      background: brown;
      border: 1px solid brown;
    }
  }
}
