.termsContainer {
  width: 100%;
  padding: 40px;
  background-color: #1f1f1f;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  border-bottom: 1px solid grey;

  @media only screen and (min-width: 760px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media only screen and (min-width: 1200px) {
    grid-template-columns: repeat(5, 1fr);
  }

  .categories,
  .account,
  .quickLinks,
  .company {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;

    h3 {
      text-transform: uppercase;
      color: white;
    }

    span {
      color: grey;
      margin-top: 20px;
    }
  }

  .supportContainer {
    .supportMessage {
      margin-bottom: 20px;
    }

    .supportMessage,
    .supportPhone {
      i {
        font-size: 2.5rem;
        // margin-right: 25px;
        color: white;
      }

      .info {
        display: flex;
        flex-direction: column;

        span:nth-child(2) {
          color: brown;
        }
        span {
          color: white;
        }
      }
    }
  }
}
