.infosContainer {
  width: 100%;
  height: 300px;
  background-color: #1f1f1f;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .info {
    display: flex;
    align-items: center;

    i {
      font-size: 3rem;
      margin-right: 20px;
      color: brown;
    }

    .infoDetail {
      display: flex;
      flex-direction: column;

      span {
        color: white;
        text-transform: uppercase;
        font-size: 1.3rem;

        &:nth-child(2) {
          color: grey;
          text-transform: none;
          margin-top: 5px;
          font-size: 1rem;
        }
      }
    }
  }
}
