.loginFormContainer {
  background: white;
  width: 100%;
  height: 600px;
  display: flex;

  .leftBox {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 65%;
    display: none;

    @media only screen and (min-width: 760px) {
      display: block;
    }
  }

  .rightBox {
    width: 100%;
    border-radius: 50px;
    padding-left: 50px;
    padding-top: 50px;

    @media only screen and (min-width: 760px) {
      width: 35%;
    }

    .titles {
      margin-top: 30px;

      h2 {
        font-size: 1.5rem;
      }
    }

    .inputs {
      display: flex;
      flex-direction: column;
      margin-top: 50px;

      input {
        width: 80%;
        padding: 10px 0;
      }

      input:nth-child(1) {
        margin-bottom: 30px;
      }
    }

    .Button {
      button {
        width: 80%;
        margin: 3px 0;
      }
    }
  }
}
